@model Symphonie.ViewModels.InstrumentEtSesEtudiants

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.NomInstrument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrument.NomInstrument)
        </dd>
    </dl>
</div>

<div>

    <h4>Les Étudiants qui joue  @Html.DisplayFor(model => model.Instrument.NomInstrument)   </h4>
    <table>
        <thead>
            <tr>

                <th>Nom</th>

                <th>Prénom</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Etudiants)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                    <td>@Html.DisplayFor(modelItem => item.Prenom)</td>
                  
                </tr>
            }
        </tbody>
    </table>

</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model?.Instrument.InstrumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
