@model IEnumerable<Symphonie.ViewModels.ImageViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="display: inline-block; background-color: #E6E6FA; padding: 5px 10px; border-radius: 5px;">
    <a asp-action="Index" asp-controller="Orchestres">Retour</a>
</div>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instrument.NomInstrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument.Identifiant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrument.NomInstrument)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrument.Identifiant)
                </td>
                <td>
                   
                    
                     <img alt="@(item.Instrument.NomInstrument)" src="@(item.PhotoUrl)"/>
                    
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Instrument.InstrumentId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
