@model Symphonie.Models.Orchestre

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Orchestre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbEtudiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbEtudiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professeur.ProfesseurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrchestreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
