@model IEnumerable<Symphonie.Models.VwEtudiantParInstrument>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Étudiant par son Instrument</h1>
<div style="display: inline-block; background-color: #E6E6FA; padding: 5px 10px; border-radius: 5px;">
    <a asp-action="Index" asp-controller="Orchestres">Retour</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>No Étudiant</th>
           <th>Nom Instrument</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoEtudiant)
            </td>
                <th>
                    @Html.DisplayFor(modelItem => item.NomInstrument)
                </th>
                
            <td>
            
                <a asp-action="Details" asp-route-id="@item.EtudiantId">Details</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
