@model IEnumerable<Symphonie.Models.VwEtudiantParInstrument>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>No Étudiant</th>
            <
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoEtudiant)
            </td>
                <th>
                    @Html.DisplayFor(modelItem => item.NomInstrument)
                </th>
                
            <td>
            
                <a asp-action="Details" asp-route-id="@item.EtudiantId">Details</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
